.popup__input {
  min-height: 27px;
  max-width: 358px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}


.popup__input:invalid {
border-bottom: 1px solid red;
}

.popup__input:valid {
  border-bottom: 1px solid green;
  }
