@import url(./fonts/fonts.css);

.page {
    margin: 0 auto;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background-color: #000000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* header */
.header {
    max-width: 880px;
    min-height: 73px;
    margin: 0 auto;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
}

.header__logo {
    width: 142px;
    object-fit: cover;
}

/* profile */

.profile {
    max-width: 880px;
    padding-top: 40px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__container {
    display: flex;
    align-items: center;
}

.profile__avatar {
    margin-right: 30px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.profile__info {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: baseline;
    row-gap: 16px;
    column-gap: 18px;
}

.profile__title {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}

.profile__description {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    padding: 0;
    background-image: url(./images/Edit_Button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    border: none;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: .6;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    padding: 0;
    background-image: url(./images/addbutton.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    border-radius: 2px;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: .6;
}

/* elements */
.elements {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
}

.element__image {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.element {
    min-height: 361px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.element__container {
    width: calc(100% - 40px);
    margin: 25px auto 31px auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.element__title {
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__like-button {
    width: 22px;
    height: 19px;
    padding: 0;
    background-image: url(./images/heart.svg);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: none;
    cursor: pointer;
}

.element__like-button:hover {
    opacity: 0.5;
}

/* footer */
.footer {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 60px;
}

.footer__copyright {
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}


@media (max-width: 918px) {
    .header {
        width: calc(100% - 54px);

    }

    .profile {
        width: calc(100% - 38px);

    }

    .elements {
        width: calc(100% - 38px);
    }

    .footer {
        width: calc(100% - 38px);
    }
}


@media (max-width: 768px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
    }

    .profile__description {
        font-size: 14px;
        line-height: 17px;
    }


}


@media (max-width: 600px) {
    .header {
        padding-top: 28px;
        min-height: 55px;
    }

    .header__logo {
        width: 104px;
    }

    .profile {
        padding-top: 42px;
        padding-bottom: 36px;
        flex-direction: column;
        gap: 36px;
    }

    .profile__container {
        flex-direction: column;
        align-items: center;
        gap: 26px;
    }

    .profile__avatar {
        margin-right: 0;
    }

    .profile__info {
        row-gap: 14px;
        column-gap: 10px;
    }

    .profile__description {
        text-align: center;
    }

    .profile__edit-button {
        width: 18px;
        height: 18px;
    }


    .profile__add-button {
        width: 282px;
    }

    .elements {
        gap: 20px;
    }

    .footer {
        padding-top: 48px;
        padding-bottom: 36px;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }


}