.elements {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

@media (max-width: 918px) {
  .elements {
    width: calc(100% - 38px);
  }
}

@media (max-width: 600px) {
  .elements {
    gap: 20px;
  }
}
