.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 60px;
}

@media (max-width: 918px) {
  .footer {
    width: calc(100% - 38px);
  }
}

@media (max-width: 600px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
